* {
    margin: 0%;
}

.navigation {
    position: relative;   /* VERY IMPORTANT */
    background: #e16b21;
    padding-top: 0%;
}

.firstnavigation {
    position: relative;
    z-index: 2;           /* stays ABOVE wave */
    color: white;
    padding: 0%;
}

.manu {
    display: flex;
}

.first-manu {
    padding-top: 10px;
    height: 100px;
    width: 100px;    

}

.manu-logo {
    height: 100px;
    width: 100px;
        background-image: url('../images/integricate-icon.svg');
    background-size: cover
}

.mid-manu {
    height: 90px;
    width: 70%;
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
}
 li {
    display: flex;
    justify-content: center;
 }

 a {
    padding: 40px 30px 10px 40px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 550;
    color: rgb(235, 224, 224);
 }



.custom-shape-divider-top-1770199586 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;           /* stays BELOW content */
}

.custom-shape-divider-top-1770199586 svg {
    height: 80px;
    width: 100%;
}

.shape-fill {
    fill: #e16b21;
}