* {
    margin: 0%;
    padding: 0%;
    border: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "integricate", serif;
}

header {
    height: 80px;
    width: 100%;
    display: block;
    background-color: rgb(30, 29, 29);
}

.header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.header-left {
    height: 80px;
    width: 50%;
    display: flex;
    justify-content:left;
    align-items: center;
    padding-left: 20px;
}

.navigation-logo {
    height: 70px;
    width: 70px;
    background-image: url("../images/integricate.svg");
    background-size: cover;
}



.header-right {
    height: 80px;
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

ul {
    display: flex;
        padding-right: 20px;
}

li {
    list-style: none;
}

#nav-links {
    text-decoration: none;
    font-size: 28px;
    font-weight: 550;
    color: #f7f7f7;
}

a:hover {
    color: #e98048;
}


.custom-shape-divider-top-1771161956 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1771161956 svg {
    display: block;
    width: calc(100% + 1.3px);
    height: 54px;
}

.custom-shape-divider-top-1771161956 .shape-fill {
    fill: #1E1D1D;
}

@font-face {
  font-family: "integricate";
  src: url("../font/integricate.woff2") format("woff2"),
       url("../font/integricate.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.intro {
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro {
    font-family: "integricate";
    color: #e98048;
    display: flex;
    text-align: center;
    justify-self: center;
    font-size: 24px;
    height: 400px;
    width: 70%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    padding: 10px 10px 10px 10px;
}

#footer-links {
    color: #eda27a;
    font-size: 28px;

}